// colors

$softB: hsl(231, 69%, 60%);
$softR: hsl(0, 94%, 66%);
$grayishB: hsl(229, 8%, 60%);
$verydarkB: hsl(229, 31%, 21%);
$verydarkB-alfa: hsl(229, 31%, 21%, 0.8);
$white: hsl(255, 100%, 100%);

//fonts

$font-sm:0.875rem;  //14px
$font-med:1.125rem;  //18px